main.consultation {
	.container {
		max-width: 10.3200rem;
		min-height: 1.7600rem;
		width: 100%;
		background-color: #ffffff;
		filter: drop-shadow(0px 4px 64px rgba(0, 0, 0, 0.029999999329447746));
		border-radius: 11px;
		border: 1.05px solid var(--border-color);
	}
}
