main.landing {
	gap: 1.6000rem;

	.title-block {
		gap: 0.0800rem;
	}

	.carousel {
		margin-top: 0.6rem;
	}

	.about-us {
		p.body-1 {
			margin-top: .125rem;
		}

		.card-container,
		.expert {
			max-width: 7.3467rem;
			min-width: 5rem;
		}

		.expert {
			height: 3.2400rem;
		}

		.client-box {
			max-width: var(--margin-width);
			width: 100%;
			margin-top: 0.60rem;
			display: grid;
			gap: .1rem;
			grid-template-columns: repeat(3, minmax(0, 1fr));

		}
	}

	.we-do {
		&-block {
			gap: 0.7200rem;

			&-1 {
				//something
			}

			.photo-container {
				gap: 0.2rem;

				img {
					width: 100%;
					height: 3.9200rem;
				}
			}
		}

		&-section {
			gap: 0.7200rem;
		}

	}

	.events {
		&-grid {
			width: var(--margin-width);
			max-height: 10.0933rem;
			display: grid;
			grid-template-columns: 1fr 1fr .62fr;
			grid-gap: 0.2800rem 0.3867rem;
			grid-auto-rows: 4.9067rem;

			.event {
				display: block;

				&-1 {
					grid-row: span 2;
				}

				&-flex {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;
					gap: 0.2533rem;

					div {
						flex: 1;
					}
				}

			}
		}
	}

}
