main.landing {
	gap: 1.6000rem;

	.title-block {
		gap: 0.0800rem;
	}

	.carousel {
		margin-top: 0.6rem;
	}

	.about-us {
		p.body-1 {
			margin-top: .125rem;
		}

		.card-container,
		.expert {
			max-width: 7.3467rem;
			min-width: 5rem;
		}

		.expert {
			height: 3.2400rem;
		}

		.client-box {
			max-width: var(--margin-width);
			width: 100%;
			margin-top: 0.60rem;
			display: grid;
			gap: .1rem;
			grid-template-columns: repeat(3, minmax(0, 1fr));

		}
	}
}
