@import '../../app/scss_lib/breakpoints.scss';

main.services {
	margin-top: 1rem;

	.grid-container {
		margin-top: 2.0rem;
		position: relative;
		max-width: 17.9867rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 4.9067rem;
		grid-gap: 0.2800rem 0.3867rem;

		@include onMobile() {
			margin-top: 1.5rem;
			max-width: 10rem;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, minmax(5.270rem, 1fr));
			grid-gap: 0.2800rem 0.1867rem;
		}

		&::before {
			content: '';
			position: absolute;
			width: 115%;
			height: 120%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			z-index: -1;
			border: 1px solid var(--border-color);
			border-radius: 10px;

			@include onMobile() {
				width: 110%;
				height: 110%;
			}
		}

		.grid-item-1 {
			grid-row: span 2;

			@include onMobile() {
				grid-row: span 1;
			}
		}
	}
}
