@import '../app/scss_lib/breakpoints.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 0.8667rem;
	padding: .105rem 0;
	padding-left: 0.5333rem;
	padding-right: 0.4444867rem;
	border: 1.06px solid #000000;
	border-radius: 51.75px;
	gap: .7rem;
	cursor: pointer;
	text-align: left;

	@include onMobile() {
		padding: 0.35rem 0;
		padding-left: 0.5333rem;
		padding-right: 0.4444867rem;
		width: fit-content;
		overflow-wrap: break-word;
	}


	&.primary {
		background: var(--button-primary);
		border: none;

		p {
			color: white;
			font-weight: 500;
		}

		img {
			filter: invert(83%) sepia(99%) saturate(2%) hue-rotate(43deg) brightness(108%) contrast(100%);
		}
	}

	p {
		line-height: 1.1;
		transform: translateY(0.0092rem);
		user-select: none;
		width: 100%;
		text-wrap: nowrap;
		color: black;

		@include onMobile() {
			transform: translateY(0.004rem);
			font-size: 0.5135rem;
			line-height: 110%;
			text-wrap: wrap;
			padding-left: .1rem;
		}
	}

	img {
		width: 0.3067rem;
		height: auto;
		object-fit: fill;

		@include onMobile() {
			width: 0.4474rem;

		}
	}
}
