footer {
	margin-top: auto;
	height: 6.2667rem;
	padding-top: 0.7733rem;
	padding-bottom: 0.5067rem;
	filter: drop-shadow(0px -6px 64px rgba(0, 0, 0, 0.01999999910593033));
	background: #fff;

	.content {
		width: var(--margin-width);
		height: 4.9867rem;

		p {
			color: black;
		}

		.info {
			height: 100%;

			.top {
				.description {
					margin-top: 0.1rem;
					width: 6.8rem;
				}
			}

			span {
				font-size: 0.1867rem;
			}
		}

		.right {
			width: 6.2933rem;

			.button-gap {
				gap: 0.1067rem;
			}
		}
	}
}

.list {

	p {
		line-height: 1.1;
	}

	p.title {
		font-size: 0.3867rem;
		font-weight: 600;
	}

	.list-items {
		margin-top: 0.24rem;

		p {
			font-weight: 400;
			font-size: 0.2133rem;
			margin-bottom: 0.1733rem;
		}
	}
}
