textarea {
	border: 1.3px #D7D7D7 solid;
	border-radius: 10px;
	width: 9.3333rem;
	min-height: 5.2533rem;
	padding-top: .2rem;
	padding-left: 0.3600rem;
	padding-right: 0.3600rem;
	font-size: 0.4000rem;
	font-family: 'Inter', sans-serif;
	resize: vertical;
	line-height: 1.5;

	&::placeholder {
		color: #C2C2C2;
	}

	&:active {
		border: none;
	}

}
