@import './styles.scss';

:root {
	--max-width: 1920px;
	--margin-width: calc(var(--max-width) - 134px);
	--border-radius: 12px;
	--card-border-radius: 20px;
	--card-linear-gradient: background: linear-gradient(110deg,
			rgba(0, 0, 0, 0.23) 15.06%,
			rgba(0, 0, 0, 0) 34.48%,
			rgba(0, 0, 0, 0) 69.77%,
			rgba(0, 0, 0, 0.81) 85.54%);
	--font-mono: "Inter", monospace;
	--button-primary: #191716;
	--white-filter: invert(83%) sepia(99%) saturate(2%) hue-rotate(43deg) brightness(108%) contrast(100%);
	font-size: 75px;
}

* {
	box-sizing: border-box;
}

img {
	object-fit: cover;
}

main {
	max-width: var(--max-width);
	margin: 0 auto;
	margin-top: 1.4400rem;
	padding-bottom: 1.9200rem;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

body {
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2.0667rem;
	font-weight: 300;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.7333rem;
	font-weight: 400;
}

h4 {
	font-size: 1.4000rem;
	font-weight: 300;
}

p {
	font-size: 0.3067rem;
	line-height: 197%;
	color: #101010EC;
}
